header{
    background-color: lightgreen;
    height: 13vh;
    min-height: 30pt;
}

h1{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: lightsteelblue;
    height: 10vh;
    min-height: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

button{
    height: 10vh;
    min-height: 20pt;
    width: 20vw;
    min-width: 40pt;
    border-radius: 5pt;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

footer{
    background-color: lightsalmon;
    height: 15vh;
    min-height: 15pt;
}

@media only screen and (max-width: 500px) {
    main{
        flex-direction: column;
        min-height: 30vh;
        button{
            height: 10vh;
            max-height: 30vh;
        }
    }
}