header{
    background-color: lightgreen;
    height: 40vh;
    min-height: 30pt;
}

h1{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;
    margin-right: 15pt;
}

img {
    max-width: 50px;
    max-height: 50px;
}

main{
    background-color: lightsteelblue;
    height: 40vh;
    min-height: 30pt;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

button{
    height: 10vh;
    min-height: 20pt;
    width: 20vw;
    min-width: 40pt;
    border-radius: 5pt;
    border-style: outset;
}

button:hover {
    background-color: aqua ;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

footer{
    background-image: #ponerfoto ;
    linear-gradient(
        1deg,
        rgba(0, 247, 255, 0.836),
        rgba(114, 114, 114, 0.5)
    )
    height: 40vh;
    min-height: 30pt;
}

@media only screen and (max-width: 500px) {
    main{
        flex-direction: column;
        min-height: 30vh;
        button{
            height: 10vh;
            max-height: 30vh;
        }
    }
}